---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: flux-kube-state-metrics-config
      valuesKey: kube-state-metrics-config.yaml
  values:
    cleanPrometheusOperatorObjectNames: true
    alertmanager:
      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.${SECRET_DOMAIN}
          parentRefs:
            - name: envoy-internal
              namespace: network
      service:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "amcluster-uvt.${MAIN_DOMAIN}"
          lbipam.cilium.io/ips: "${ALERTMANAGER_IPV4}"
        externalTrafficPolicy: Local
        ipDualStack:
          enabled: false
        additionalPorts:
          - name: tcp-mesh
            port: 9094
            protocol: TCP
            targetPort: 9094
          - name: udp-mesh
            port: 9094
            protocol: UDP
            targetPort: 9094
        type: LoadBalancer
      alertmanagerSpec:
        additionalPeers:
          - amcluster-main.${MAIN_DOMAIN}:9094
          - amcluster-network.${MAIN_DOMAIN}:9094
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        clusterAdvertiseAddress: "${ALERTMANAGER_IPV4}:9094"
        clusterLabel: kochhaus
        externalUrl: https://alertmanager.${SECRET_DOMAIN}
        forceEnableClusterMode: true
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              resources:
                requests:
                  storage: 10Mi
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            memory: 64Mi
    kubeEtcd:
      service:
        selector:
          component: kube-apiserver # etcd runs on control plane nodes
    kubeProxy:
      enabled: false
    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.${SECRET_DOMAIN}
          parentRefs:
            - name: envoy-internal
              namespace: network
      prometheusSpec:
        externalUrl: https://prometheus.${SECRET_DOMAIN}
        version: v2.55.1 # override 'unsupported Prometheus version' error
        image:
          registry: docker.io
          repository: prompp/prompp
          tag: 0.6.2
        securityContext:
          runAsNonRoot: true
          runAsUser: 64535
          runAsGroup: 64535
          fsGroup: 64535
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        retention: 14d
        retentionSize: 25GB
        externalLabels:
          cluster: user-volume-test
        additionalAlertManagerConfigs:
          - scheme: http
            static_configs:
              - targets:
                  - "amcluster-main.${MAIN_DOMAIN}:9093"
                labels:
                  server: amcluster-main.${MAIN_DOMAIN}
              - targets:
                  - "amcluster-network.${MAIN_DOMAIN}:9093"
                labels:
                  server: amcluster-network.${MAIN_DOMAIN}
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 2000Mi
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: longhorn
              resources:
                requests:
                  storage: 25Gi
    prometheusOperator:
      resources:
        requests:
          cpu: 50m
          memory: 256Mi
        limits:
          memory: 384Mi
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
            - action: drop
              regex: /var/lib/kubelet/pods.+
              sourceLabels: ["mountpoint"]
            - action: labeldrop
              regex: (pod)
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    grafana:
      enabled: false
