---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    disk: /dev/vda
  network:
    hostname: t1
    interfaces:
      - interface: enp1s0
        addresses:
          - 192.168.20.49/24
          - fdd5:aa8:9535:20::49/64
        dhcp: false
        mtu: 1500
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.20.1
        vlans:
          - # IOT
            dhcp: false
            mtu: 1500
            vlanId: 30
  type: controlplane
