---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  install:
    disk: /dev/vda
  network:
    hostname: t3
    interfaces:
      - interface: enp1s0
        dhcp: false
        mtu: 1500
        vlans:
          - addresses:
              - 192.168.20.51/24
              - fdd5:aa8:9535:20::51/64
            routes:
              - network: 0.0.0.0/0
                gateway: 192.168.20.1
            vlanId: 20
  type: controlplane
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 24Gi
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: extra
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 60Gi
  maxSize: 128Gi
filesystem:
  type: xfs
