---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflared
spec:
  interval: 1h
  path: ./kubernetes/apps/network/cloudflared/app
  # this doesn't work - the patch in flux/cluster/ks.yaml overrides it
  postBuild:
    substituteFrom:
      - name: cloudflare-tunnel-id-secret
        kind: Secret
      - name: cluster-settings
        kind: ConfigMap
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false
