# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.20.48:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.20.48"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "t1"
    ipAddress: "192.168.20.49"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2fea969334733055ec6784409b515844816ea2104f06827452d298ce3fd64ac7
    controlPlane: true
    volumes:
      - name: EPHEMERAL
        provisioning:
          maxSize: 24Gi
    userVolumes:
      - name: extra
        provisioning:
          minSize: 16Gi
          maxSize: 32Gi
          grow: true
          diskSelector:
            match: system_disk
        filesystem:
          type: xfs
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "52:54:00:8d:48:86"
        dhcp: false
        addresses:
          - "192.168.20.49/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.20.1"
        mtu: 1500
        vip:
          ip: "192.168.20.48"
  - hostname: "t2"
    ipAddress: "192.168.20.50"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2fea969334733055ec6784409b515844816ea2104f06827452d298ce3fd64ac7
    controlPlane: true
    volumes:
      - name: EPHEMERAL
        provisioning:
          maxSize: 24Gi
    userVolumes:
      - name: extra
        provisioning:
          minSize: 16Gi
          maxSize: 32Gi
          grow: true
          diskSelector:
            match: system_disk
        filesystem:
          type: xfs
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "52:54:00:90:15:41"
        dhcp: false
        addresses:
          - "192.168.20.50/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.20.1"
        mtu: 1500
        vip:
          ip: "192.168.20.48"
  - hostname: "t3"
    ipAddress: "192.168.20.51"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/2fea969334733055ec6784409b515844816ea2104f06827452d298ce3fd64ac7
    controlPlane: true
    volumes:
      - name: EPHEMERAL
        provisioning:
          maxSize: 24Gi
    userVolumes:
      - name: extra
        provisioning:
          minSize: 16Gi
          maxSize: 32Gi
          grow: true
          diskSelector:
            match: system_disk
        filesystem:
          type: xfs
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "52:54:00:ba:95:a5"
        dhcp: false
        addresses:
          - "192.168.20.51/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.20.1"
        mtu: 1500
        vip:
          ip: "192.168.20.48"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
