---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: '3'

tasks:

  browse-pvc:
    desc: Browse PersistentVolumeClaims
    summary: |
      Args:
        ns: Namespace to browse PersistentVolumeClaims in (default: default)
        claim: PersistentVolumeClaim to browse (required)
    interactive: true
    cmd: |
      kubectl run -n {{.ns}} debug-{{.claim}} -i --tty --rm --image=null --privileged --labels "app=fnord" --overrides='
        {
          "apiVersion": "v1",
          "spec": {
            "containers": [
              {
                "name": "debug",
                "image": "ghcr.io/haraldkoch/ubuntu:rolling",
                "command": ["/bin/bash"],
                "stdin": true,
                "stdinOnce": true,
                "tty": true,
                "volumeMounts": [
                  {
                    "name": "config",
                    "mountPath": "/config"
                  }
                ]
              }
            ],
            "volumes": [
              {
                "name": "config",
                "persistentVolumeClaim": {
                  "claimName": "{{.claim}}"
                }
              }
            ],
            "restartPolicy": "Never"
          }
        }'
    vars:
      ns: '{{.ns | default "default"}}'
    requires:
      vars:
        - "claim"
    preconditions:
      - kubectl --namespace {{.ns}} get persistentvolumeclaims {{.claim}}
      - which kubectl

  node-shell:
    desc: Open a shell to a node [NODE=required]
    interactive: true
    cmd: kubectl node-shell -n kube-system -x {{.NODE}}
    requires:
      vars:
        - NODE
    preconditions:
      - kubectl get nodes {{.NODE}}
      - kubectl node-shell --version
      - which kubectl

  network:
    desc: Create a netshoot container for a cluster [ns=default]
    interactive: true
    cmd: |
      kubectl run -n {{.ns}} netshoot --rm -i --tty --image ghcr.io/nicolaka/netshoot:latest {{.CLI_ARGS}}
    vars:
      ns: '{{.ns | default "default"}}'

  fix-daemonsets:
    desc: Fix daemonsets that are falsely stuck
    interactive: true
    cmds:
      - kubectl get daemonsets.apps --no-headers -A|awk '{print "kubectl label daemonset -n", $1, $2, "fnord=fnord"}'|sh -x
      - sleep 5
      - kubectl get daemonsets.apps --no-headers -A|awk '{print "kubectl label daemonset -n", $1, $2, "fnord-"}'|sh -x

  prune-pods:
    desc: Prune pods in Failed, Pending, or Succeeded state
    interactive: true
    cmd: |
      for phase in Failed Pending Succeeded; do \
          kubectl delete pods -A --field-selector status.phase="$phase" --ignore-not-found=true; \
      done

  # https://docs.github.com/en/enterprise-cloud@latest/actions/hosting-your-own-runners/managing-self-hosted-runners-with-actions-runner-controller/deploying-runner-scale-sets-with-actions-runner-controller#upgrading-arc
  upgrade-arc:
    desc: Upgrade the ARC
    cmds:
      - helm -n actions-runner-system uninstall home-ops-runner
      - helm -n actions-runner-system uninstall actions-runner-controller
      - sleep 5
      - flux -n actions-runner-system reconcile hr actions-runner-controller
      - flux -n actions-runner-system reconcile hr home-ops-runner
    preconditions:
      - which flux helm
